* {}

:root {
    --input-border: #3c3c3c;
    --background-color: #121212;
    --text-color: #ffffff;
}

.show-add-options-block {}

.add-project-box {
    height: 50px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1em;
    background-color: #3c3c3c;
    width: 130px;
    padding-left: 8px;
    padding-right: 8px
}


.basic-tab {
    height: 50px;
    background-color: #3c3c3c;
}

.basic-tab:hover,
.add-button-off:hover,
.home-tab:hover {
    background-color: var(--input-border);
}

.active-tab {
    height: 50px;
    background-color: rgb(111, 195, 223)
}

.project-tabs-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    margin: 10px;
    gap: 10px;
}

.active-home-tab {
    background-color: rgb(115, 115, 241);
    height: 50px;

}

.home-tab {
    background-color: gray;
    height: 50px;
}

.error-message {
    justify-content: center;
    color: red;
}