.list-container {
    display: flex;
    flex-direction: column;
    column-count: 2;
    justify-content: flex-start;
    height: 100%;
}


.list-header {
    background-color: orange;
    margin-top: 8px;
    align-self: center;
    max-width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 32px;
    font-weight: bold;
    border-radius: 5px;
    
}

.list-buttons {
    
}

.add-task-block  {
    border: none;
    display: flex;
    border-radius: 8px;
    background-color: orange;
    margin: 8px;
    padding: 8px;
    min-height: 15px;
    width: 240px;
}

.add-task-input {
    border: none;
    display: flex;
    border-radius: 8px;
    background-color: orange;
    margin: 8px;
    padding: 8px;
    min-height: 20px;
    width: 225px;
}

