.task-block {
    display: flex;
    background-color: red;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
}
.task-list{ 
    margin: 10px;
    background-color: lightblue;
    height: 100%;
}

.task-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}